/* .Person {
    border: 1px solid #e7a61a;
    background-color: #e7a61a;
    width: auto;
    padding: 20px;
    box-shadow: 13px 15px 5px 0px rgba(0,0,0,0.75);
    margin: 15px;
    display: inline-block;
    text-align: center;
  } */